* {
  box-sizing: border-box;
}
.header {
  text-align: center;
  font-family: helvetica;
  background-color: blue;
  font-size:12px;
}
.header2 {
  text-align: left;
  font:helvetica;
  background-color: grey;
  font-size:20px;
}
.main{
   text-align: left;
  font:helvetica;
  background-color: grey;
  font-size:20px;
} 
.navbar {
  float:left;
  font-family:helvetica;
  overflow:hidden;
  verticak-align:center;
  background-color:grey;
  
}


h3 , p {
  text-align: left;
  font:helvetica;
  background-color: grey;
  font-size:20px;
}
body { 
  background-color: grey;
}
  
  


