* {
  box-sizing: border-box;
}
.header {
  text-align: center;
  font-family: helvetica;
  
  font-size:12px;
}
.header2 {
  text-align: left;
  font:helvetica;
  
  font-size:20px;
}
.main{
   text-align: left;
  font:helvetica;
  background-color: grey;
  font-size:20px;
} 
.navbar {
  float:left;
  font-family:helvetica;
  overflow:hidden;
  vertical-align:center;
 
  
  
}
ul {
  width: 1000px;
  border: 15px ;
  padding: 50px;
  margin: 20px;
}


h3 , p {
  text-align: left;
  font:helvetica;
  background-color: grey;
  font-size:20px;
}
body { 
  background-color: #6d8484
}
  
  


